{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid bg-danger text-white rounded">
        <div class="container">
            <h1 class="display-4">About</h1>
            <p class="lead">Welcome to EasyShop, your ultimate destination for a simplified online shopping experience. We are committed to providing a user-friendly platform for small to medium-sized businesses.</p>
        </div>
    </div>
    <!-- Add more content as needed -->
</div>
{% endblock %}
